<%- include("partials/header"); %>

<div class="container col-8">
    <table class="table table-bordered">
        <tr>
            <th>appid</th>
            <th>treatid</th>
            <th>date</th>
            <th>shift</th>
            <th>status</th>
            <th>notes</th>
        </tr>
        <% appointment.forEach((app)=>{%>
            <tr>
              <td><%= app.APPOINTMENT_ID%></td>
              <td><%= app.TREATMENT_ID%></td>
              <td><%= app.APPOINTMENT_DATE%></td>
              <td><%= app.APPOINTMENT_SHIFT%></td>
              <td><%= app.APPOINTMENT_STATUS%></td>
              <td><%= app.NOTES%></td>
            </tr>
          <% }) %>
      </table>
    </div>