<%- include("partials/header"); %>

<body>

<% patientData.forEach((pat)=>{%>
<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2" style="padding-left:30px;padding-top: 20px;background-color: rgba(146, 255, 255, 0.199);border-radius: 10px;height:600px;width:250px; z-index: 10;position: absolute;left:40px;top:80px;">
    <!-- Sidebar -->
    <h3>Xem thêm:</h3>
    <a href="/treatListperPatient/<%= pat.PATIENT_ID %>">
      <button class="btn btn-secondary">Danh sách điều trị</button>
  </a>  

 
   
  <h5></h5>
  <a href="/invoiceList/<%= pat.PATIENT_ID %>">
    <button class="btn btn-secondary">Danh sách thanh toán</button></a>
    <h5>ㅤ</h5>
    <button class="btn btn-secondary">Danh sách chưa trả</button>
  </div>

  <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10">
    <div class="container-xl px-4 mt-4">
      <div class="row">
        
        <div class="col-xl-8"style="right:100px;position: absolute;">
          <!-- Account details card-->
          <div class="card mb-4 w-100">
            <div class="card-header">Chi tiết bệnh nhân</div>
            <div class="card-body">
              <form action="/patientProfile/<%= pat.PATIENT_ID%>" method="POST" id="myForm">               
                 <div class="row gx-3 mb-3">
                  <div class="col-md-6">

                    <label class="small mb-1" for="patientID">ID</label> 

                    <input type="text" id="patientID" class="form-control form-control-lg" value="<%= pat.PATIENT_ID %>" disabled>
                    <!-- <% if (locals.errorMessage1) { %>
                      <div class="small text-danger"><%= errorMessage1%></div>
                    <% } %> -->
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" for="patientName">Họ và tên</label>
                    <input type="text" id="patientName"class="form-control form-control-lg" value="<%= pat.FULL_NAME %>" disabled>
                    <!-- <% if (locals.errorMessage2) { %>
                      <div class="small text-danger"><%= errorMessage2 %></div>
                    <% } %> -->
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label class="small mb-1" for="DOB">Ngày Sinh</label>
                    <input type="text" id="DOB"class="form-control form-control-lg" value="<%= pat.DOB.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' })%>" disabled>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" for="Gender">Giới tính</label>
                    <input type="text" id="Gender"class="form-control form-control-lg" value="<%= pat.GENDER%>" disabled>
                  </div>
                  
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label class="small mb-1" for="allegies">Tình trạng dị ứng</label>
                    <textarea id="allegies" name="allegies" class="form-control form-control-lg" rows="1" disabled><%= pat.ALLERGIES%></textarea>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" for="contraindication">Chống chỉ định</label>
                    <textarea id="contraindication" name="contraindication" class="form-control form-control-lg" rows="1" disabled>Không</textarea>
                  </div>
                </div>
                <% patie.forEach((pat2)=>{%>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label class="small mb-1" for="TreatmentFee">Tổng tiền điều trị</label>
                    <input type="text" id="TreatmentFee"class="form-control form-control-lg" value="<%= pat2.TotalPaidFee %>$" disabled>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" for="Treatmentpaid">Số lượng điều trị</label>
                    <input type="text" id="Treatmentpaid"class="form-control form-control-lg" value="<%= pat2.TreatmentCount %>" disabled>
                  </div>
                </div>
                <% }) %>
               
                <button id="updateButton" class="btn btn-primary" type="button">Update</button>

                
              </form>
              <br><br>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% }) %>
<script>
document.getElementById("updateButton").addEventListener("click", function () {
  var formElements = document.querySelectorAll("form input, form textarea");
  var updateButton = document.getElementById("updateButton");

  if (updateButton.textContent === "Update") {
    formElements.forEach(function (element) {
      if (element.id !== "patientID" && element.id !== "TreatmentFee" && element.id !== "Treatmentpaid"&& element.id !== "contraindication"&& element.id !== ""&& element.id !== "description") {
        element.removeAttribute("disabled");
      }
    });

    updateButton.textContent = "Done";
  } else if (updateButton.textContent === "Done") {
    var myForm = document.getElementById("myForm");

    myForm.submit();
    formElements.forEach(function (element) {
      element.setAttribute("disabled", true);
    });

    updateButton.textContent = "Update";
  }
});


</script>
</body>